<div container = "container">
	
	<div class = "row">
		<div class = "col-xs-4 col-xs-offset-4">

			<h1>Hello World </h1>

			<%= link_to 'about', about_path%>
			<%= link_to 'contact', contact_path%> 
		</div>
	</div>

</div>


